body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 42, 42);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar p {
  color: white;
  font-size: 20px;
  margin: 0;
}

.nav-button {
  display: flex;
  gap: 15px;
  margin-right: 40rem;
}
.nav-button a {
  text-decoration: none;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  background-color: transparent;
}

.nav-button a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.total-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e63946;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.total-btn:hover {
  background-color: #fd545f;
}
